<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="box p-20  text-center cursor-pointer" [ngClass]="workflow.style">
        <h4 class="font-light text-white m-0">{{workflow.workflow}}</h4>
                    <h6 class="text-white m-0">{{workflow.taskSteps.length}} tasks</h6> </div>
    <!-- User profile text -->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="box p-20  text-center cursor-pointer" [ngClass]="workflow.style">
        <!-- <a [matMenuTriggerFor]="sdprofile" class=""> Marquis Palmer
            <i class="ti-angle-down font-12 m-l-5"></i>
        </a> -->
    </div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings
        </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out
        </button>
    </mat-menu>
</div>
 
<mat-nav-list appAccordion>
    <mat-vertical-stepper #stepper>
        <mat-step  *ngFor="let activity of stepperSteps;let i = index"  label="{{activity}}" >
            <button (click)="clickEvent(i)"></button>
        </mat-step>
        
        <!-- <mat-step label="Upload document">
          {{stepperSteps}}
          </mat-step>
        <mat-step label="Add project description">
          Add project description
        </mat-step>
        <mat-step label="Addtional comments">
          Additional
        </mat-step>
        <mat-step label="Validation">
          Step 4
          </mat-step> -->
      </mat-vertical-stepper>
</mat-nav-list>