
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="70" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-tab-group>
          <mat-tab label="Workflow #1">
            <mat-card-content>
              <mat-card-title>Task Metrics</mat-card-title>
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-info text-center cursor-pointer" (click)="btnCategoryClick('',0)">
                      <h1 class="font-light text-white m-0">{{totalCount}}</h1>
                      <h6 class="text-white m-0">Total Tickets</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-warning text-center cursor-pointer" (click)="btnCategoryClick('In Progress',1)">
                      <h1 class="font-light text-white m-0">{{Inprogress}}</h1>
                      <h6 class="text-white m-0">In Progress</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-success text-center cursor-pointer" (click)="btnCategoryClick('Open',2)">
                      <h1 class="font-light text-white m-0">{{Open}}</h1>
                      <h6 class="text-white m-0">Open</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-danger text-center cursor-pointer" (click)="btnCategoryClick('Closed',3)">
                      <h1 class="font-light text-white m-0">{{Closed}}</h1>
                      <h6 class="text-white m-0">Closed</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
              </div>   
              
            </mat-card-content>
             </mat-tab>
          <mat-tab label="Workflow #2"> 
            <mat-card-content>
              <mat-card-title>Task metrics</mat-card-title>
               
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-info text-center cursor-pointer" (click)="btnCategoryClick('',0)">
                      <h1 class="font-light text-white m-0">{{totalCount}}</h1>
                      <h6 class="text-white m-0">Total Tickets</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-warning text-center cursor-pointer" (click)="btnCategoryClick('In Progress',1)">
                      <h1 class="font-light text-white m-0">{{Inprogress}}</h1>
                      <h6 class="text-white m-0">In Progress</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-success text-center cursor-pointer" (click)="btnCategoryClick('Open',2)">
                      <h1 class="font-light text-white m-0">{{Open}}</h1>
                      <h6 class="text-white m-0">Open</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-danger text-center cursor-pointer" (click)="btnCategoryClick('Closed',3)">
                      <h1 class="font-light text-white m-0">{{Closed}}</h1>
                      <h6 class="text-white m-0">Closed</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
              </div>   
               
              
            </mat-card-content>
             </mat-tab>
          <mat-tab label="Workflow #3"> 
            <mat-card-content>
              <mat-card-title>Task Metrics</mat-card-title>
               
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-info text-center cursor-pointer" (click)="btnCategoryClick('',0)">
                      <h1 class="font-light text-white m-0">{{totalCount}}</h1>
                      <h6 class="text-white m-0">Total Tickets</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-warning text-center cursor-pointer" (click)="btnCategoryClick('In Progress',1)">
                      <h1 class="font-light text-white m-0">{{Inprogress}}</h1>
                      <h6 class="text-white m-0">In Progress</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-success text-center cursor-pointer" (click)="btnCategoryClick('Open',2)">
                      <h1 class="font-light text-white m-0">{{Open}}</h1>
                      <h6 class="text-white m-0">Open</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <div class="box p-20 bg-danger text-center cursor-pointer" (click)="btnCategoryClick('Closed',3)">
                      <h1 class="font-light text-white m-0">{{Closed}}</h1>
                      <h6 class="text-white m-0">Closed</h6>
                    </div>
                  </mat-card>
                </div>
                <!-- column -->
              </div>   
              
            </mat-card-content>
             </mat-tab>
        </mat-tab-group>
          
      </mat-card>
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <mat-card>
            <mat-card-content>
              <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Tasks">
                  </mat-form-field>
                </div>
                <div fxFlex.gt-md="75" class="text-right">
                  <!-- <button mat-raised-button (click)="openDialog('Add',{})" color="primary">Add Ticket</button> -->
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <mat-card>
          <mat-card-content>
              <mat-card-title>Complete task details</mat-card-title>
               <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="table  ticket-list no-wrap" >
      
      
      
                  <ng-container matColumnDef="creator">
                    <th mat-header-cell *matHeaderCellDef> Creator </th>
                    <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}}
                      <a fxFlexFill [routerLink]="'/taskdetails/'+element.id" class="mat-row-link"></a> 
                    </td>
                  
                  </ng-container>
      
                  <ng-container matColumnDef="assignee">
                    <th mat-header-cell *matHeaderCellDef> Assignee </th>
                    <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef> Product </th>
                    <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                      <!-- <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                      <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                        <i class="fa fa-trash text-danger"></i>
                      </a> -->
                    </td>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
              <!-- <div class="d-flex flex-row comment-row" *ngFor="let mycomment of tickets">
                <div class="p-2">
                    <span class="round">
                        <img src="{{mycomment.profile}}" alt="user" width="50">
                    </span>
                </div>
                <div class="comment-text w-100 p-t-0">
                    <h5 class="m-0">{{mycomment.creator}}</h5>
                    <p class="m-b-5 m-t-5">{{mycomment.title}}</p>
                    <div class="comment-footer">
                        <span class="text-muted pull-right">{{mycomment.date}}</span>
                        <span class="label label-{{mycomment.class}} float-left">{{mycomment.status}}</span>
                        <span class="action-icons">
                            <a href="javascript:void(0)">
                                <i class="ti-pencil-alt"></i>
                            </a>
                            <a href="javascript:void(0)">
                                <i class="ti-check"></i>
                            </a>
                            <a href="javascript:void(0)">
                                <i class="ti-heart"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div> -->
          </mat-card-content>
      </mat-card>
      <!-- <mat-card>
          <mat-card-content>
              <h4 class="m-b-20">Write a repl</h4>
           
              <form method="post">
              
                  <button mat-raised-button class="m-t-20 m-r-5" color="primary">Submit</button>
                  <button mat-raised-button class="m-t-20" color="warning">close</button>                    
              </form>
          </mat-card-content>
      </mat-card> -->
  </div>
  <div fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="70" fxFlex="70">
      <mat-card>
          <mat-card-content>
            <mat-card-title>Calendar</mat-card-title>
          </mat-card-content>
          <mat-card-content class="bg-light">
              <ejs-calendar></ejs-calendar>
          </mat-card-content>
       
      </mat-card>
      <mat-card>
        
          
      </mat-card>
      <mat-card>
        <mat-card-content>
          <mat-card-title>RSS Feed</mat-card-title>
          <mat-card-subtitle>A selection of cool informative links</mat-card-subtitle>
          <mat-list>
            <mat-list-item *ngFor="let message of messages">
              <h3 matLine>{{message.from}}</h3>
              <p matLine class="text-muted">{{message.content}}</p>
            </mat-list-item>
          </mat-list>
      </mat-card-content>
      </mat-card>
  </div>
</div>