<div fxLayout="row wrap">
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Task description {{hero}}</mat-card-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              <!-- <ng-template #dynamicComponent> </ng-template> -->
              </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <mat-card-title>Complete task details</mat-card-title>
                <ng-template #dynamicComponent> </ng-template>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h4 class="m-b-20">Write a reply</h4>
              <quill-editor></quill-editor>
                <form method="post">
                
                    <button mat-raised-button class="m-t-20 m-r-5" color="primary">Submit</button>
                    <button mat-raised-button class="m-t-20" color="warning">close</button>                    
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <h4 class="card-title">Calendar</h4>
            </mat-card-content>
            <mat-card-content class="bg-light">
                <ejs-calendar></ejs-calendar>
            </mat-card-content>
            <mat-card-content>
                <h5 class="p-t-20 m-b-5">Task Creator</h5>
                <span>User Name</span>
                <h5 class="m-t-30 m-b-5">Task modified Date</h5>
                <span>2021-04-20T13:48:07.350Z</span>
                <br/>
                    
                <button mat-raised-button class="m-t-20 m-r-5" color="primary" >Update</button>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content class="text-center">
                <h4 class="card-title">Super Developer</h4>
                <div class="profile-pic m-b-20 m-t-20">
                    <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user">
                    <h4 class="m-t-20 m-b-0"></h4>
                    <a href="mailto:"></a>
                </div>
                
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h4 class="card-title">Ticket Statestics</h4>
             
            </mat-card-content>
        </mat-card>
    </div>
</div>