
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="70" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
            <div fxLayout="row wrap">
              <!-- column -->
              <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                  <div class="box p-20 bg-info text-center cursor-pointer" (click)="btnCategoryClick('')">
                    <h4 #workflow class="font-light text-white m-0">Workflow #1</h4>
                    <h6 class="text-white m-0">4 tasks</h6>
                  </div>
                </mat-card>
              </div>
              <!-- column -->
              <!-- column -->
              <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                  <div class="box p-20 bg-warning text-center cursor-pointer" (click)="btnCategoryClick('In Progress')">
                    <h4 #workflow class="font-light text-white m-0">Workflow #2</h4>
                    <h6 class="text-white m-0">4 tasks</h6>
                  </div>
                </mat-card>
              </div>
              <!-- column -->
              <!-- column -->
              <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                  <div class="box p-20 bg-success text-center cursor-pointer" (click)="btnCategoryClick('Open')">
                    <h4 class="font-light text-white m-0">Workflow #3</h4>
                    <h6 class="text-white m-0">3 tasks</h6>
                  </div>
                </mat-card>
              </div>
              <!-- column -->
              <!-- column -->
              <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                  <div class="box p-20 bg-danger text-center cursor-pointer" (click)="btnCategoryClick('Closed')">
                    <h4 class="font-light text-white m-0">Workflow 1</h4>
                    
                    <h6 class="text-white m-0">1 tasks</h6>
                  </div>
                </mat-card>
              </div>
              <!-- column -->
            </div>   
            
          </mat-card-content>
      </mat-card>
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <mat-card>
            <mat-card-content>
              <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Tickets">
                  </mat-form-field>
                </div>
                <div fxFlex.gt-md="75" class="text-right">
                  <button mat-raised-button (click)="openDialog('Add',{})" color="primary">Add Ticket</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <mat-card>
          <mat-card-content>
              <mat-card-title>Complete task details</mat-card-title>
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="table  ticket-list no-wrap" [routerLink]="['/taskdetails']">
      
      
      
                  <ng-container matColumnDef="creator">
                    <th mat-header-cell *matHeaderCellDef> Creator </th>
                    <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="assignee">
                    <th mat-header-cell *matHeaderCellDef> Assignee </th>
                    <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef> Product </th>
                    <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>
      
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                      <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                      <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                        <i class="fa fa-trash text-danger"></i>
                      </a>
                    </td>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
          </mat-card-content>
      </mat-card>
      <!-- <mat-card>
          <mat-card-content>
              <h4 class="m-b-20">Write a repl</h4>
           
              <form method="post">
              
                  <button mat-raised-button class="m-t-20 m-r-5" color="primary">Submit</button>
                  <button mat-raised-button class="m-t-20" color="warning">close</button>                    
              </form>
          </mat-card-content>
      </mat-card> -->
  </div>
  <div fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <h4 class="card-title">Calendar</h4>
          </mat-card-content>
          <mat-card-content class="bg-light">
              <ejs-calendar></ejs-calendar>
          </mat-card-content>
          <mat-card-content>
              <h5 class="p-t-20 m-b-5">RSS feed area</h5>
              
              <br/>
              <button mat-raised-button class="m-t-20 m-r-5" color="primary">Update</button>
          </mat-card-content>
      </mat-card>
      <mat-card>
          <mat-card-content class="text-center">
              <h4 class="card-title">Sample Area</h4>
              <div class="profile-pic m-b-20 m-t-20">
                  <img src="" width="150" class="rounded-circle" alt="user">
                  <h4 class="m-t-20 m-b-0"></h4>
                  <a href="mailto:"></a>
              </div>
              
          </mat-card-content>
          
      </mat-card>
      <mat-card>
          <mat-card-content>
              <h4 class="card-title"></h4>another sample area
              <div id="ticket-chart">
         
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>